node_modules/
build/
infrastructure/terraform/.terraform/
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/.terraform.lock.hcl
.DS_Store
*/.DS_Store